body {
  display: flex;
  height: 90vh;
  width: 98vw;
  justify-content: center;
  align-items: center;
}

.content {
  flex-direction: column;
}

img.center {
  display: block;
  text-align: center;
  height: 240px;
  width: 240px;
}

span.center {
  margin: 24px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
